name: Build and release MetaModule plugin

on:
  workflow_dispatch:
    inputs:
      SDK_branch:
        description: 'MetaModule SDK branch'
        required: true
        type: choice
        default: main
        options:
          - main
      do_release:
        description: 'Create Release (must also select Tag above!")'
        required: true
        default: false
        type: boolean
      win_x64:
        description: 'Build on Windows instead of Linux'
        required: true
        default: false
        type: boolean
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  build-lin:
    if: ${{ !inputs.win_x64 }}
    strategy:
      matrix:
        gcc: ['12.3.Rel1']
    name: 'Build plugin on linux'
    runs-on: ubuntu-24.04
    steps:
      - name: Install Arm GNU Toolchain (arm-none-eabi-gcc)
        uses: carlosperate/arm-none-eabi-gcc-action@v1
        with:
          release: ${{ matrix.gcc }}

      - name: Install cmake
        uses: jwlawson/actions-setup-cmake@v1.13
        with:
          cmake-version: '3.26.x'

      - name: Git setup
        run: git config --global --add safe.directory '*'

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Install linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install ninja-build

      - name: Set Release Version
        if: startsWith(github.ref, 'refs/tags/')
        uses: FranzDiebold/github-env-vars-action@v2

      - name: Build
        run: |
          cmake -B build -G Ninja -DMETAMODULE_SDK_DIR=metamodule-plugin-sdk
          cmake --build build
          # Add version tag and required firmware version to the plugin file name:
          cd metamodule-plugins && for f in *.mmplugin; do mv $f ${f%.mmplugin}-${{ env.CI_REF_NAME }}.mmplugin; done;

      - name: Release
        if: startsWith(github.ref, 'refs/tags/') && ${{ inputs.do_release }}
        uses: softprops/action-gh-release@v2
        with:
          name: 'Release: ${{ env.CI_REF_NAME }}'
          files: |
            metamodule-plugins/*.mmplugin


  build-win:
    if: ${{ inputs.win_x64 }}
    name: "Build on windows"
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Install windows dependencies
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: git make mingw-w64-x86_64-gcc mingw-w64-x86_64-cmake
          path-type: inherit

      - name: Install Arm GNU Toolchain (arm-none-eabi-gcc)
        uses: carlosperate/arm-none-eabi-gcc-action@v1
        with:
          release: '12.3.Rel1'

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Build
        run: |
          cmake -B build -G "MSYS Makefiles" -DMETAMODULE_SDK_DIR=metamodule-plugin-sdk
          cmake --build build

